#container_slider {
  /*
  position: absolute;
  bottom: 0;
  */
  width: 100%;
}

#map{
  /*
  margin-left: -5px;
  margin-top: -5px;
  margin-bottom: 65px;
  */

  height: 300px;
  
}

.tooltip { 
  background: #FFFFFF;
  color: #000000;
}
