<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script src="../static/js/socket.io.js"></script>

    <!-- Controller -->
    <link rel="stylesheet" href="../static/css/main.css" />

    <!-- Datatable -->
    <link rel="stylesheet" href="../static/css/datatable.css" >

    <!-- Carto -->
    <link rel="stylesheet" href="../static/css/carto.css" />
    <link rel="stylesheet" href="../static/css/slider.css" />
    <link rel="stylesheet" href="../static/css/leaflet.css" />
    <link rel="stylesheet" href="../static/css/leaflet-coordinates.css" />

    
    <link rel="icon" href="../static/favicon.ico" />
    <title>Gestion capteurs</title>
  </head>
  <body>

<div class="top" id="etat"></div>
<div class="alert" role="alert" id="alert"></div>

<div class="config" id="config_module">
  Capteur <input type="number" id="module_id" size="2"><br><br>
  
  <center>
    <table>
      <tr><th>Frq debut</th><th>Frq fin</th><th>Squelch (50db à -120db)</th></tr>
      <tr><td><input type="number" id="frq_start" size="5"></td>
          <td><input type="number" id="frq_end" size="5"></td>
          <td><input type="number" id="threshold" min="-120" max="50" step="1" size="5"></td>
      </tr>
      <tr><td><input disabled type="number" id="frq_start1" size="5"></td>
          <td><input disabled type="number" id="frq_end1" size="5"></td>
          <td><input disabled type="number" id="threshold1" min="1" max="10" size="2"></td>
      </tr>
      <tr><td><input disabled type="number" id="frq_start2" size="5"></td>
          <td><input disabled type="number" id="frq_end2" size="5"></td>
          <td><input disabled type="number" id="threshold2" min="1" max="10" size="2"></td>
      </tr>
      <tr><td><input disabled type="number" id="frq_start3" size="5"></td>
          <td><input disabled type="number" id="frq_end3" size="5"></td>
          <td><input disabled type="number" id="threshold3" min="1" max="10" size="2"></td>
      </tr>
    </table>
  </center>
  Configuration appliquée : <input disabled type="checkbox" id="applied"><br><br>

  <button onclick="save_config_module();" style="margin-right: 10px">Valider</button>
  <button onclick="close_config_module();" style="margin-left: 10px">Annuler</button>
</div>


<div class="config" id="config_nb_module">
  Nb capteurs : <input type="number" id="nb_module" size="2" value="1" min="1"><br><br>
  <button onclick="set_nb_module();">Valider</button>
</div>

<button onclick="toggle_tab('viewer');">Carto</button>
<button onclick="toggle_tab('history');">Historique</button>
<button onclick="toggle_tab('modules');">Capteurs</button>
<button onclick="toggle_tab('config');">Config</button>


<div class="container" id="container">

  <div id="tab_viewer">

    <div id="map"></div>

    <div id="container_slider">
      <div class="container_tooltip">
        <span id="fromSliderTooltip" class="tooltip from"></span>
        <span id="toSliderTooltip" class="tooltip to"></span>
      </div>
      <div class="sliders_control">
        <input id="fromSlider" type="range" value="0" min="0" max="100" />
        <input id="toSlider" type="range" value="100" min="0" max="100" style="margin-top: 1px;" />
      </div>
      <canvas id="bandeau" width="600" height="20" style="border:1px solid #eeeeee;"></canvas>
    </div>

    <button onclick="get_search_results();">Appliquer filtres</button>
    <button onclick="remove_filters();">Retirer filtres</button>
    <table id="myTable" class="display"></table>

  </div>


  <div id="tab_history" style="display: none;">
    <div id="log_detections" class="log_detections"></div>
  </div>


  <div id="tab_modules" style="display: none;">    
  </div>

  <div id="tab_config" style="display: none;">
    <br><br>
    <button onclick="download_csv();">Télécharger CSV</button>
    <br><br>
    <br><br>
    <button onclick="reset_db();">Effacement d'urgence</button>
  </div>


</div>

<script type="text/javascript">
  let modules = {};
  let detections = [];
  let init_detections = {};// {{detections}};
  let init_modules = {};//{{modules}};
</script>


<!-- Datatable -->
<script src="../static/js/datatable.js"></script>
<script src="../static/js/easypick.js"></script>
<script src="../static/js/datatable_init.js"></script>

<!-- Carto -->
<script src="../static/js/leaflet.js"></script>
<script src="../static/js/leaflet_coordinates.js"></script>
<script src="../static/js/leaflet_heatmap.js"></script>
<script src="../static/js/leaflet_zoom.js"></script>

<script src="../static/js/carto_slider.js"></script>
<script src="../static/js/carto.js"></script>
<script src="../static/js/carto_init.js"></script>

<!-- Main -->
<script src="../static/js/main.js"></script>
  </body>
</html>